<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--**********************************************************************
Copyright (c) 2014 Andy Jefferson and others. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

Contributors:
    ...
**********************************************************************-->
<plugin id="org.datanucleus.store.types.java8" name="DataNucleus Java8" provider-name="DataNucleus">
    <!-- JAVA TYPES -->
    <extension point="org.datanucleus.java_type">
        <java-type name="javax.time.calendar.LocalDate" dfg="true" embedded="true" converter-name="dn.localdate-sqldate"/>
        <java-type name="javax.time.calendar.LocalDateTime" dfg="true" embedded="true" converter-name="dn.localdatetime-timestamp"/>
        <java-type name="javax.time.calendar.LocalTime" dfg="true" embedded="true" converter-name="dn.localtime-sqltime"/>
    </extension>

    <!-- TYPE CONVERTERS -->
    <extension point="org.datanucleus.type_converter">
        <type-converter name="dn.localdate-string" member-type="javax.time.calendar.LocalDate" datastore-type="java.lang.String"
            converter-class="org.datanucleus.store.types.converters.LocalDateStringConverter"/>
        <type-converter name="dn.localdate-sqldate" member-type="javax.time.calendar.LocalDate" datastore-type="java.sql.Date"
            converter-class="org.datanucleus.store.types.converters.LocalDateSqlDateConverter"/>
        <type-converter name="dn.localtime-string" member-type="javax.time.calendar.LocalTime" datastore-type="java.lang.String"
            converter-class="org.datanucleus.store.types.converters.LocalTimeStringConverter"/>
        <type-converter name="dn.localtime-long" member-type="javax.time.calendar.LocalTime" datastore-type="java.lang.Long"
            converter-class="org.datanucleus.store.types.converters.LocalTimeLongConverter"/>
        <type-converter name="dn.localtime-sqltime" member-type="javax.time.calendar.LocalTime" datastore-type="java.sql.Time"
            converter-class="org.datanucleus.store.types.converters.LocalTimeSqlTimeConverter"/>
        <type-converter name="dn.localdatetime-string" member-type="javax.time.calendar.LocalDateTime" datastore-type="java.lang.String"
            converter-class="org.datanucleus.store.types.converters.LocalDateTimeStringConverter"/>
        <type-converter name="dn.localdatetime-timestamp" member-type="javax.time.calendar.LocalDateTime" datastore-type="java.sql.Timestamp"
            converter-class="org.datanucleus.store.types.converters.LocalDateTimeTimestampConverter"/>
    </extension>
</plugin>
