<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--**********************************************************************
Copyright (c) 2014 Andy Jefferson and others. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

Contributors:
    ...
**********************************************************************-->
<plugin id="org.datanucleus.store.types.java8" name="DataNucleus Java8" provider-name="DataNucleus">
    <!-- JAVA TYPES -->
    <extension point="org.datanucleus.java_type">
        <java-type name="java.time.LocalDate" dfg="true" embedded="true" converter-name="dn.localdate-sqldate"/>
        <java-type name="java.time.LocalDateTime" dfg="true" embedded="true" converter-name="dn.localdatetime-timestamp"/>
        <java-type name="java.time.LocalTime" dfg="true" embedded="true" converter-name="dn.localtime-sqltime"/>
        <java-type name="java.time.OffsetTime" dfg="true" embedded="true" converter-name="dn.offsettime-sqltime"/>
        <java-type name="java.time.OffsetDateTime" dfg="true" embedded="true" converter-name="dn.offsetdatetime-timestamp"/>
        <java-type name="java.time.Duration" dfg="true" embedded="true" converter-name="dn.duration-long"/>
        <java-type name="java.time.Instant" dfg="true" embedded="true" converter-name="dn.instant-timestamp"/>
        <java-type name="java.time.Period" dfg="true" embedded="true" converter-name="dn.period-string"/>
        <java-type name="java.time.Year" dfg="true" embedded="true" converter-name="dn.year-integer"/>
        <java-type name="java.time.YearMonth" dfg="true" embedded="true" converter-name="dn.yearmonth-string"/>
        <java-type name="java.time.MonthDay" dfg="true" embedded="true" converter-name="dn.monthday-string"/>
        <java-type name="java.time.ZoneId" dfg="true" embedded="true" converter-name="dn.zoneid-string"/>
        <java-type name="java.time.ZoneOffset" dfg="true" embedded="true" converter-name="dn.zoneoffset-string"/>

        <java-type name="java.util.ArrayList" wrapper-type="org.datanucleus.store.types.java8.wrappers.ArrayList"
            wrapper-type-backed="org.datanucleus.store.types.java8.wrappers.backed.ArrayList" 
            container-handler="org.datanucleus.store.types.containers.ArrayListHandler" priority="1"/>
        <java-type name="java.util.Collection" wrapper-type="org.datanucleus.store.types.java8.wrappers.Collection"
            wrapper-type-backed="org.datanucleus.store.types.java8.wrappers.backed.Collection" 
            container-handler="org.datanucleus.store.types.containers.JDKCollectionHandler" priority="1"/>
        <java-type name="java.util.HashSet" wrapper-type="org.datanucleus.store.types.java8.wrappers.HashSet"
            wrapper-type-backed="org.datanucleus.store.types.java8.wrappers.backed.HashSet" 
            container-handler="org.datanucleus.store.types.containers.HashSetHandler" priority="1"/>
        <java-type name="java.util.LinkedHashSet" wrapper-type="org.datanucleus.store.types.java8.wrappers.LinkedHashSet"
            wrapper-type-backed="org.datanucleus.store.types.java8.wrappers.backed.LinkedHashSet" 
            container-handler="org.datanucleus.store.types.containers.LinkedHashSetHandler" priority="1"/>
        <java-type name="java.util.LinkedList" wrapper-type="org.datanucleus.store.types.java8.wrappers.LinkedList"
            wrapper-type-backed="org.datanucleus.store.types.java8.wrappers.backed.LinkedList" 
            container-handler="org.datanucleus.store.types.containers.LinkedListHandler" priority="1"/>
        <java-type name="java.util.List" wrapper-type="org.datanucleus.store.types.java8.wrappers.List"
            wrapper-type-backed="org.datanucleus.store.types.java8.wrappers.backed.List"
            container-handler="org.datanucleus.store.types.containers.ArrayListHandler" priority="1"/>
        <java-type name="java.util.PriorityQueue" wrapper-type="org.datanucleus.store.types.java8.wrappers.PriorityQueue"
            wrapper-type-backed="org.datanucleus.store.types.java8.wrappers.backed.PriorityQueue"
            container-handler="org.datanucleus.store.types.containers.PriorityQueueHandler" priority="1"/>
        <java-type name="java.util.Queue" wrapper-type="org.datanucleus.store.types.java8.wrappers.Queue"
            wrapper-type-backed="org.datanucleus.store.types.java8.wrappers.backed.Queue"
            container-handler="org.datanucleus.store.types.containers.PriorityQueueHandler" priority="1"/>
        <java-type name="java.util.Set" wrapper-type="org.datanucleus.store.types.java8.wrappers.Set"
            wrapper-type-backed="org.datanucleus.store.types.java8.wrappers.backed.Set"
            container-handler="org.datanucleus.store.types.containers.HashSetHandler" priority="1"/>
        <java-type name="java.util.SortedSet" wrapper-type="org.datanucleus.store.types.java8.wrappers.SortedSet"
            wrapper-type-backed="org.datanucleus.store.types.java8.wrappers.backed.SortedSet"
            container-handler="org.datanucleus.store.types.containers.TreeSetHandler" priority="1"/>
        <java-type name="java.util.Stack" wrapper-type="org.datanucleus.store.types.java8.wrappers.Stack"
            wrapper-type-backed="org.datanucleus.store.types.java8.wrappers.backed.Stack"
            container-handler="org.datanucleus.store.types.containers.StackHandler" priority="1"/>
        <java-type name="java.util.TreeSet" wrapper-type="org.datanucleus.store.types.java8.wrappers.TreeSet"
            wrapper-type-backed="org.datanucleus.store.types.java8.wrappers.backed.TreeSet"
            container-handler="org.datanucleus.store.types.containers.TreeSetHandler" priority="1"/>
        <java-type name="java.util.Vector" wrapper-type="org.datanucleus.store.types.java8.wrappers.Vector"
            wrapper-type-backed="org.datanucleus.store.types.java8.wrappers.backed.Vector"
            container-handler="org.datanucleus.store.types.containers.VectorHandler" priority="1"/>
    </extension>

    <!-- TYPE CONVERTERS -->
    <extension point="org.datanucleus.type_converter">
        <type-converter name="dn.localdate-string" member-type="java.time.LocalDate" datastore-type="java.lang.String"
            converter-class="org.datanucleus.store.types.java8.converters.LocalDateStringConverter"/>
        <type-converter name="dn.localdate-sqldate" member-type="java.time.LocalDate" datastore-type="java.sql.Date"
            converter-class="org.datanucleus.store.types.java8.converters.LocalDateSqlDateConverter"/>
        <type-converter name="dn.localdate-date" member-type="java.time.LocalDate" datastore-type="java.util.Date"
            converter-class="org.datanucleus.store.types.java8.converters.LocalDateDateConverter"/>

        <type-converter name="dn.localtime-string" member-type="java.time.LocalTime" datastore-type="java.lang.String"
            converter-class="org.datanucleus.store.types.java8.converters.LocalTimeStringConverter"/>
        <type-converter name="dn.localtime-long" member-type="java.time.LocalTime" datastore-type="java.lang.Long"
            converter-class="org.datanucleus.store.types.java8.converters.LocalTimeLongConverter"/>
        <type-converter name="dn.localtime-sqltime" member-type="java.time.LocalTime" datastore-type="java.sql.Time"
            converter-class="org.datanucleus.store.types.java8.converters.LocalTimeSqlTimeConverter"/>
        <type-converter name="dn.localtime-date" member-type="java.time.LocalTime" datastore-type="java.util.Date"
            converter-class="org.datanucleus.store.types.java8.converters.LocalTimeDateConverter"/>

        <type-converter name="dn.localdatetime-string" member-type="java.time.LocalDateTime" datastore-type="java.lang.String"
            converter-class="org.datanucleus.store.types.java8.converters.LocalDateTimeStringConverter"/>
        <type-converter name="dn.localdatetime-timestamp" member-type="java.time.LocalDateTime" datastore-type="java.sql.Timestamp"
            converter-class="org.datanucleus.store.types.java8.converters.LocalDateTimeTimestampConverter"/>
        <type-converter name="dn.localdatetime-date" member-type="java.time.LocalDateTime" datastore-type="java.util.Date"
            converter-class="org.datanucleus.store.types.java8.converters.LocalDateTimeDateConverter"/>

        <type-converter name="dn.offsettime-string" member-type="java.time.OffsetTime" datastore-type="java.lang.String"
            converter-class="org.datanucleus.store.types.java8.converters.OffsetTimeStringConverter"/>
        <type-converter name="dn.offsettime-long" member-type="java.time.OffsetTime" datastore-type="java.lang.Long"
            converter-class="org.datanucleus.store.types.java8.converters.OffsetTimeLongConverter"/>
        <type-converter name="dn.offsettime-sqltime" member-type="java.time.OffsetTime" datastore-type="java.sql.Time"
            converter-class="org.datanucleus.store.types.java8.converters.OffsetTimeSqlTimeConverter"/>

        <type-converter name="dn.offsetdatetime-string" member-type="java.time.OffsetDateTime" datastore-type="java.lang.String"
            converter-class="org.datanucleus.store.types.java8.converters.OffsetDateTimeStringConverter"/>
        <type-converter name="dn.offsetdatetime-timestamp" member-type="java.time.OffsetDateTime" datastore-type="java.sql.Timestamp"
            converter-class="org.datanucleus.store.types.java8.converters.OffsetDateTimeTimestampConverter"/>
        <type-converter name="dn.offsetdatetime-date" member-type="java.time.OffsetDateTime" datastore-type="java.util.Date"
            converter-class="org.datanucleus.store.types.java8.converters.OffsetDateTimeDateConverter"/>

        <type-converter name="dn.duration-string" member-type="java.time.Duration" datastore-type="java.lang.String"
            converter-class="org.datanucleus.store.types.java8.converters.DurationStringConverter"/>
        <type-converter name="dn.duration-long" member-type="java.time.Duration" datastore-type="java.lang.Long"
            converter-class="org.datanucleus.store.types.java8.converters.DurationLongConverter"/>

        <type-converter name="dn.period-string" member-type="java.time.Period" datastore-type="java.lang.String"
            converter-class="org.datanucleus.store.types.java8.converters.PeriodStringConverter"/>

        <type-converter name="dn.instant-timestamp" member-type="java.time.Instant" datastore-type="java.sql.Timestamp"
            converter-class="org.datanucleus.store.types.java8.converters.InstantTimestampConverter"/>
        <type-converter name="dn.instant-string" member-type="java.time.Instant" datastore-type="java.lang.String"
            converter-class="org.datanucleus.store.types.java8.converters.InstantStringConverter"/>
        <type-converter name="dn.instant-long" member-type="java.time.Instant" datastore-type="java.lang.Long"
            converter-class="org.datanucleus.store.types.java8.converters.InstantLongConverter"/>

        <type-converter name="dn.year-string" member-type="java.time.Year" datastore-type="java.lang.String"
            converter-class="org.datanucleus.store.types.java8.converters.YearStringConverter"/>
        <type-converter name="dn.year-integer" member-type="java.time.Year" datastore-type="java.lang.Integer"
            converter-class="org.datanucleus.store.types.java8.converters.YearIntegerConverter"/>

        <type-converter name="dn.yearmonth-string" member-type="java.time.YearMonth" datastore-type="java.lang.String"
            converter-class="org.datanucleus.store.types.java8.converters.YearMonthStringConverter"/>
        <type-converter name="dn.yearmonth-components" member-type="java.time.YearMonth" datastore-type="[I"
            converter-class="org.datanucleus.store.types.java8.converters.YearMonthComponentsConverter"/>

        <type-converter name="dn.monthday-string" member-type="java.time.MonthDay" datastore-type="java.lang.String"
            converter-class="org.datanucleus.store.types.java8.converters.MonthDayStringConverter"/>
        <type-converter name="dn.monthday-components" member-type="java.time.MonthDay" datastore-type="[I"
            converter-class="org.datanucleus.store.types.java8.converters.MonthDayComponentsConverter"/>

        <type-converter name="dn.zoneid-string" member-type="java.time.ZoneId" datastore-type="java.lang.String"
            converter-class="org.datanucleus.store.types.java8.converters.ZoneIdStringConverter"/>

        <type-converter name="dn.zoneoffset-string" member-type="java.time.ZoneOffset" datastore-type="java.lang.String"
            converter-class="org.datanucleus.store.types.java8.converters.ZoneOffsetStringConverter"/>
    </extension>

    <!-- QUERY METHODS (IN-MEMORY) -->
    <extension point="org.datanucleus.query_method_evaluators">
        <query-method-evaluator class="java.time.LocalDate" method="getDayOfMonth" evaluator="org.datanucleus.store.types.java8.query.inmemory.LocalDateGetDayOfMonth"/>
        <query-method-evaluator class="java.time.LocalDate" method="getMonthValue" evaluator="org.datanucleus.store.types.java8.query.inmemory.LocalDateGetMonthValue"/>
        <query-method-evaluator class="java.time.LocalDate" method="getYear" evaluator="org.datanucleus.store.types.java8.query.inmemory.LocalDateGetYear"/>

        <query-method-evaluator class="java.time.LocalTime" method="getHour" evaluator="org.datanucleus.store.types.java8.query.inmemory.LocalTimeGetHour"/>
        <query-method-evaluator class="java.time.LocalTime" method="getMinute" evaluator="org.datanucleus.store.types.java8.query.inmemory.LocalTimeGetMinute"/>
        <query-method-evaluator class="java.time.LocalTime" method="getSecond" evaluator="org.datanucleus.store.types.java8.query.inmemory.LocalTimeGetSecond"/>

        <query-method-evaluator class="java.time.LocalDateTime" method="getDayOfMonth" evaluator="org.datanucleus.store.types.java8.query.inmemory.LocalDateTimeGetDayOfMonth"/>
        <query-method-evaluator class="java.time.LocalDateTime" method="getMonthValue" evaluator="org.datanucleus.store.types.java8.query.inmemory.LocalDateTimeGetMonthValue"/>
        <query-method-evaluator class="java.time.LocalDateTime" method="getYear" evaluator="org.datanucleus.store.types.java8.query.inmemory.LocalDateTimeGetYear"/>
        <query-method-evaluator class="java.time.LocalDateTime" method="getHour" evaluator="org.datanucleus.store.types.java8.query.inmemory.LocalDateTimeGetHour"/>
        <query-method-evaluator class="java.time.LocalDateTime" method="getMinute" evaluator="org.datanucleus.store.types.java8.query.inmemory.LocalDateTimeGetMinute"/>
        <query-method-evaluator class="java.time.LocalDateTime" method="getSecond" evaluator="org.datanucleus.store.types.java8.query.inmemory.LocalDateTimeGetSecond"/>
    </extension>

    <!-- RDBMS : SQL METHODS -->
    <extension point="org.datanucleus.store.rdbms.sql_method">
        <sql-method class="java.time.LocalTime" method="getHour" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetHourMethod"/>
        <sql-method class="java.time.LocalTime" method="getHour" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetHour2Method" datastore="oracle"/>
        <sql-method class="java.time.LocalTime" method="getHour" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetHour3Method" datastore="postgresql"/>
        <sql-method class="java.time.LocalTime" method="getHour" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetHour4Method" datastore="sqlserver"/>
        <sql-method class="java.time.LocalTime" method="getMinute" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetMinuteMethod"/>
        <sql-method class="java.time.LocalTime" method="getMinute" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetMinute2Method" datastore="oracle"/>
        <sql-method class="java.time.LocalTime" method="getMinute" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetMinute3Method" datastore="postgresql"/>
        <sql-method class="java.time.LocalTime" method="getMinute" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetMinute4Method" datastore="sqlserver"/>
        <sql-method class="java.time.LocalTime" method="getSecond" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetSecondMethod"/>
        <sql-method class="java.time.LocalTime" method="getSecond" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetSecond2Method" datastore="oracle"/>
        <sql-method class="java.time.LocalTime" method="getSecond" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetSecond3Method" datastore="postgresql"/>
        <sql-method class="java.time.LocalTime" method="getSecond" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetSecond4Method" datastore="sqlserver"/>
        <sql-method class="java.time.LocalTime" method="getSecond" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetSecond5Method" datastore="hsql"/>

        <sql-method class="java.time.LocalDate" method="getDayOfMonth" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalDateGetDayOfMonthMethod"/>
        <sql-method class="java.time.LocalDate" method="getDayOfMonth" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalDateGetDayOfMonth2Method" datastore="oracle"/>
        <sql-method class="java.time.LocalDate" method="getDayOfMonth" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalDateGetDayOfMonth3Method" datastore="postgresql"/>
        <sql-method class="java.time.LocalDate" method="getMonthValue" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalDateGetMonthValueMethod"/>
        <sql-method class="java.time.LocalDate" method="getMonthValue" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalDateGetMonthValue2Method" datastore="oracle"/>
        <sql-method class="java.time.LocalDate" method="getMonthValue" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalDateGetMonthValue3Method" datastore="postgresql"/>
        <sql-method class="java.time.LocalDate" method="getYear" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalDateGetYearMethod"/>
        <sql-method class="java.time.LocalDate" method="getYear" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalDateGetYear2Method" datastore="oracle"/>
        <sql-method class="java.time.LocalDate" method="getYear" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalDateGetYear3Method" datastore="postgresql"/>

        <sql-method class="java.time.LocalDateTime" method="getDayOfMonth" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalDateGetDayOfMonthMethod"/>
        <sql-method class="java.time.LocalDateTime" method="getDayOfMonth" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalDateGetDayOfMonth2Method" datastore="oracle"/>
        <sql-method class="java.time.LocalDateTime" method="getDayOfMonth" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalDateGetDayOfMonth3Method" datastore="postgresql"/>
        <sql-method class="java.time.LocalDateTime" method="getMonthValue" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalDateGetMonthValueMethod"/>
        <sql-method class="java.time.LocalDateTime" method="getMonthValue" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalDateGetMonthValue2Method" datastore="oracle"/>
        <sql-method class="java.time.LocalDateTime" method="getMonthValue" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalDateGetMonthValue3Method" datastore="postgresql"/>
        <sql-method class="java.time.LocalDateTime" method="getYear" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalDateGetYearMethod"/>
        <sql-method class="java.time.LocalDateTime" method="getYear" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalDateGetYear2Method" datastore="oracle"/>
        <sql-method class="java.time.LocalDateTime" method="getYear" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalDateGetYear3Method" datastore="postgresql"/>
        <sql-method class="java.time.LocalDateTime" method="getHour" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetHourMethod"/>
        <sql-method class="java.time.LocalDateTime" method="getHour" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetHour2Method" datastore="oracle"/>
        <sql-method class="java.time.LocalDateTime" method="getHour" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetHour3Method" datastore="postgresql"/>
        <sql-method class="java.time.LocalDateTime" method="getHour" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetHour4Method" datastore="sqlserver"/>
        <sql-method class="java.time.LocalDateTime" method="getMinute" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetMinuteMethod"/>
        <sql-method class="java.time.LocalDateTime" method="getMinute" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetMinute2Method" datastore="oracle"/>
        <sql-method class="java.time.LocalDateTime" method="getMinute" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetMinute3Method" datastore="postgresql"/>
        <sql-method class="java.time.LocalDateTime" method="getMinute" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetMinute4Method" datastore="sqlserver"/>
        <sql-method class="java.time.LocalDateTime" method="getSecond" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetSecondMethod"/>
        <sql-method class="java.time.LocalDateTime" method="getSecond" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetSecond2Method" datastore="oracle"/>
        <sql-method class="java.time.LocalDateTime" method="getSecond" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetSecond3Method" datastore="postgresql"/>
        <sql-method class="java.time.LocalDateTime" method="getSecond" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetSecond4Method" datastore="sqlserver"/>
        <sql-method class="java.time.LocalDateTime" method="getSecond" evaluator="org.datanucleus.store.types.java8.rdbms.sql.method.LocalTimeGetSecond5Method" datastore="hsql"/>

    </extension>
</plugin>